@font-face {
    font-family: font1;
    src: url(Merriweather-Black.ttf);
}
@font-face {
    font-family: font2;
    src: url(Raleway-Light.ttf);
}
@font-face {
    font-family: font3;
    src: url(Merriweather-Light.ttf);
}
@font-face {
    font-family: font4;
    src: url(Raleway-ExtraLight.ttf);
}
body {
    margin: 0;
    padding: 0;
    background-image: url('p1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   height: fit-content; 
    position:relative;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.5);
    z-index: -1;
  }

  .content {
    position: relative;
    z-index: 1;

  }
  #row1{
    display: flex;
    justify-content: center;
    align-items: center;
  }

form{
    color: white;
    border-radius: 24px;
    background: #D9D9D980;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 2%;
}
.div{
    font-size: 14px;
    font-size: font4;
    font-weight: 400;
    margin-bottom: 5%;
}

.form-label{
    font-size: 16px;
    font-family: font1;
    font-weight: lighter;
    margin-top: 2%;
}
.form-control::placeholder {
    color:#41414180;
    border-radius: 10px;
    font-size: 16px;
    font-family: font2;
    font-weight: 400;
}
h1{
    font-size: 32px;
    font-family: font1;
    font-weight: bolder;
}

.form-control:hover{
    border: 1px solid #7A24AD ;
}
.form-text{
    color: white;
    font-size: 14px;
    font-family: font3;
    margin-top: 10%;
    text-align: center;
}
a{
    color:  #7A24AD;
    font-size: 16px;
    font-family: font1;
    font-weight: bolder;
}
.btn{
    width: 100%;
    height: auto;
    background-color: 
    #473BF0;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: font2;
    margin-top: 15%;
    margin-bottom: 20%;
}
.btn:hover{
    width: 100%;
    height: auto;
    background-color: 
    #473BF0;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: font2;
}
.form-group{
position: relative;
}

.eye-icon{
    position: absolute;
    color:#41414180;
    z-index: 1;
    top: 15%;
    right:15px;
 }
.google-icon{
    position: absolute;
    left:10%;
    top: 5%;
    padding-right: 10%;
}

input[type=button]{
    font-family: font2;
    font-size: 16px;
    color:#131313;
    font-weight: 400;
    margin-bottom: 5%;
}

@media (max-width: 300px) {
    form{
        
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-bottom: 5%;
        margin-top: 2%;
    }
    .div{
        font-size: 12px; 
    }
    h1{
        font-size: 25px;
    }
    
.form-label{
    font-size: 12px;
    margin-top: 10%;
}
.form-text{
    font-size:12px ;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.form-control::placeholder {
    font-size: 12px;
}
.btn{
    font-size: 12px;
    margin-top:15%;
    margin-bottom: 5%;
}
a{
    font-size: 12px;
}
input[type=button]{
    font-size: 12px;
}
.google-icon{
    left:5%; 
}
}

 

@media (min-width: 300px) and (max-width: 600px) {
     
    .div{
        font-size: 12px; 
    }
    h1{
        font-size: 30px;
    }
.form-label{
    font-size: 15px; 
}
.form-text{
    font-size:12px ;
    text-align: center;
}
.form-control::placeholder {
    font-size: 15px;
}
.btn{
    font-size: 15px;
}
a{
    font-size: 12px;
}
input[type=button]{
    font-size: 15px;
}
.google-icon{
    left:5%; 
}
}
@media (min-width: 600px) and (max-width: 700px) {
    .google-icon{
        left:5%; 
    } 
}


